<div class="form">
  <%= simple_form_for [@product, @rating] do |f| %>
    <%= f.input :rating, input_html: { min: '0', max: '5' } %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>
<div class="back-btn mt-2">
  <%= link_to '< Cancel', product_path(@product), class: 'btn btn-primary' %>
</div>